<!-- BANNER -->
<div class="container banner mb-4">
    <img src="assets/Henry-Schein.png" alt="Henry-Schein.png">
</div>
<!-- BANNER 2 -->
<div class="container banner__2 text-center">
    <img src="assets/it_support.png" alt="it_support.png">
</div>

<!-- CONTENIDO ESPAÑOL -->
<div class="container__sp" #sp>
    <div class="container title text-center">
        <h3>Información del equipo</h3>
    </div>
    <div class="container data">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Hostname
                <span class="badge bg-primary rounded-pill" #hostname>...</span>
                <span class="badge bg-danger rounded-pill" #hostnameErr>Sin Info...</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Serial Tag
                <span class="badge bg-primary rounded-pill" #serialTag>...</span>
                <span class="badge bg-danger rounded-pill" #serialTagErr>Sin Info...</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Usuario Windows
                <span class="badge bg-primary rounded-pill" #user>...</span>
                <span class="badge bg-danger rounded-pill" #userErr>Sin Info...</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Extensión Avaya
                <span class="badge bg-primary rounded-pill" #extAvaya>...</span>
                <span class="badge bg-danger rounded-pill" #extAvayaErr>Sin Info...</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Login Avaya
                <span class="badge bg-primary rounded-pill" #logAvaya>...</span>
                <span class="badge bg-danger rounded-pill" #logAvayaErr>Sin Info...</span>
            </li>
        </ul>
    </div>
</div>

<!-- CONTENIDO INGLES -->
<div class="container__in" #in>
    <div class="container title text-center">
        <h3>Equipment information</h3>
    </div>
    <div class="container data">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Hostname
                <span class="badge bg-primary rounded-pill" #hostnameIn>...</span>
                <span class="badge bg-danger rounded-pill" #hostnameErrIn>Not info...</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Serial Tag
                <span class="badge bg-primary rounded-pill" #serialTagIn>...</span>
                <span class="badge bg-danger rounded-pill" #serialTagErrIn>Not info...</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                User Windows
                <span class="badge bg-primary rounded-pill" #userIn>...</span>
                <span class="badge bg-danger rounded-pill" #userErrIn>Not info...</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Station Avaya
                <span class="badge bg-primary rounded-pill" #extAvayaIn>...</span>
                <span class="badge bg-danger rounded-pill" #extAvayaErrIn>Not info...</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Login Avaya
                <span class="badge bg-primary rounded-pill" #logAvayaIn>...</span>
                <span class="badge bg-danger rounded-pill" #logAvayaErrIn>Not info...</span>
            </li>
        </ul>
    </div>
</div>

<!-- CONTENIDO PORTUGUES -->
<div class="container__pt" #pt>
    <div class="container title text-center">
        <h3>Informação sobre equipamento</h3>
    </div>
    <div class="container data">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Hostname
                <span class="badge bg-primary rounded-pill" #hostnamePt>...</span>
                <span class="badge bg-danger rounded-pill" #hostnameErrPt>Nenhuma info...</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Serial Tag
                <span class="badge bg-primary rounded-pill" #serialTagPt>...</span>
                <span class="badge bg-danger rounded-pill" #serialTagErrPt>Nenhuma info...</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Utilizador Windows
                <span class="badge bg-primary rounded-pill" #userPt>...</span>
                <span class="badge bg-danger rounded-pill" #userErrPt>Nenhuma info...</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Extensão Avaya
                <span class="badge bg-primary rounded-pill" #extAvayaPt>...</span>
                <span class="badge bg-danger rounded-pill" #extAvayaErrPt>Nenhuma info...</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Login Avaya
                <span class="badge bg-primary rounded-pill" #logAvayaPt>...</span>
                <span class="badge bg-danger rounded-pill" #logAvayaErrPt>Nenhuma info...</span>
            </li>
        </ul>
    </div>
</div>