<!--
    TODO: Hacer condicional de "Sin Info..." y recopilar los datos con node.
-->
<div class="container banner mb-4">
    <img src="assets/Henry-Schein.png" alt="Henry-Schein.png">
</div>
<div class="container banner__2 text-center">
    <img src="assets/it_support.png" alt="it_support.png">
</div>
<div class="container title text-center">
    <h3>Información del equipo</h3>
</div>
<div class="container data">
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Hostname
            <span class="badge bg-primary rounded-pill">Ejemplo</span>
            <!--<span class="badge bg-danger rounded-pill">Sin Info...</span>-->
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Serial Tag
            <span class="badge bg-primary rounded-pill">Ejemplo</span>
            <!--<span class="badge bg-danger rounded-pill">Sin Info...</span>-->
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Usuario
            <span class="badge bg-primary rounded-pill">Ejemplo</span>
            <!--<span class="badge bg-danger rounded-pill">Sin Info...</span>-->
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Ext.Avaya
            <span class="badge bg-primary rounded-pill">Ejemplo</span>
            <!--<span class="badge bg-danger rounded-pill">Sin Info...</span>-->
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Log.Avaya
            <span class="badge bg-primary rounded-pill">Ejemplo</span>
            <!--<span class="badge bg-danger rounded-pill">Sin Info...</span>-->
        </li>
    </ul>
</div>
