<!--
    TODO: Hacer condicional de "Sin Info..." y recopilar los datos con node.
-->
<div class="banner text-center">
    <img src="assets/it_support.png" alt="it_support.png">
</div>
<div class="title text-center">
    <h3>Información del equipo</h3>
</div>
<div class="data">
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Hostname
            <span class="badge bg-primary rounded-pill">Ejemplo</span>
            <!--<span class="badge bg-danger rounded-pill">Sin Info...</span>-->
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Serial Tag
            <span class="badge bg-primary rounded-pill">Ejemplo</span>
            <!--<span class="badge bg-danger rounded-pill">Sin Info...</span>-->
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Usuario
            <span class="badge bg-primary rounded-pill">Ejemplo</span>
            <!--<span class="badge bg-danger rounded-pill">Sin Info...</span>-->
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Ext.Avaya
            <span class="badge bg-primary rounded-pill">Ejemplo</span>
            <!--<span class="badge bg-danger rounded-pill">Sin Info...</span>-->
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Log.Avaya
            <span class="badge bg-primary rounded-pill">Ejemplo</span>
            <!--<span class="badge bg-danger rounded-pill">Sin Info...</span>-->
        </li>
    </ul>
</div>
<div class="info">
    <div class="alert alert-primary" role="alert">
        Este programa es exclusivo para el <strong>Departamento de Soporte</strong>. En ningún momento se recopila información delicada, es meramente informativo para una mayor configuración y una atención más rápida.
    </div>
</div>
