<!-- PROGRESS BAR - ACTUALIZACIONES AUTOMATICAS -->
<div class="modalProgress" #modal>
    <div class="containerModalProgressBar">
        <h2 class="text-center text-white mb-2">Downloading upgrade</h2>
        <p class="text-center text-white">A new update is being downloaded, please be patient.</p>
        <div #containerProgressBar class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" #progressBar style="width: 0%;"></div>
        </div>
    </div>
</div>

<!-- BANNER -->
<div class="container banner mb-4">
    <img src="assets/Henry-Schein.png" alt="Henry-Schein.png">
    <span #versionValue class="version"></span>
</div>

<!-- INSTALACION DE AVAYA OK -->
<div class="avaya__ok" #avaya__ok>
    <div class="container content mb-5">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="assets/avaya.png" class="avaya card-img-top" alt="avaya.png">
                    <div class="card-body">
                        <h5 class="card-title">Avaya Configuration</h5>
                        <p class="card-text">Basic configuration of Avaya One X Agent. Common application errors and manuals for the configuration itself.</p>
                        <button (click)="openAvaya()" class="btn btn-dark">More...</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="assets/it_support.png" class="itSupport card-img-top" alt="it_support.png">
                    <div class="card-body">
                        <h5 class="card-title">Equipment Information</h5>
                        <p class="card-text">Basic operating system information for the Support Department. <strong>Sensitive information is not collected at any time.</strong></p>
                        <button (click)="openIt()" class="btn btn-dark">More...</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container info">
        <div class="alert alert-primary" role="alert">
            This program is exclusive for the <strong>Support Department</strong>. At no time is sensitive information collected, it is merely informative for further configuration and faster service.
        </div>
    </div>
</div>

<!-- INSTALACION DE AVAYA FAIL -->
<div class="avaya__fail" #avaya__fail>
    <div class="alert alert-warning" role="alert">
        Avaya is not installed on your system.
        <br>
        Close this program and install <strong>Avaya One X Agent</strong>
    </div>
</div>