<div class="spinner none" #loading> //TODO: QUITAR LA CLASE NONE
    <div class="spinner__content">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <h2>Por favor, espere...</h2>
    </div>
</div>

<div class="container banner mb-4">
    <img src="assets/Henry-Schein.png" alt="Henry-Schein.png">
</div>
<div class="container banner__2 text-center">
    <img src="assets/avaya.png" alt="avaya.png">
</div>
<div class="container__sp container none" #sp>
    <h2 class="text-center mt-4">Botones Favoritos</h2>
    <div class="row">
        <div class="mb-3">
            <select name="buttons" id="buttons" class="form-control" (focus)="deleteBorderErrorSelect('sp')" [(ngModel)]="select.sp" #selectButtonsSp>
                <option value="???">Seleccione un botón</option>
                <option [value]="b.Label" *ngFor="let b of allButtons">{{ b.Label }}</option>
            </select>
        </div>
        <div class="mb-3">
            <button type="button" class="btn btn-danger" (click)="addButtons('sp')" #buttonAddSp>Añadir</button>
        </div>
    </div>
    <div class="row">
        <div class="alert alert-info none" role="alert" #alertInfoSp>
            <div class="mb-3">
                <h4>Botones ya añadidos: <span><strong>{{ countButtonsActive }}</strong></span></h4>
            </div>
            <div class="mb-3">
                <ul class="list-group" style="text-align: left;">
                    <li class="list-group-item" *ngFor="let button of buttonsAvayaExists; let i = index">
                        <input class="form-check-input me-1" type="checkbox" [id]="button.Name + i" [(ngModel)]="buttonsAvayaExists[i].check">
                        <label class="form-check-label stretched-link" [for]="button.Name + i">{{ button.Label }}</label>
                    </li>
                </ul>
            </div>
            <div class="mb-3" style="text-align: left;">
                <button type="button" class="btn btn-danger" (click)="deleteChecksSelected('sp')">Quitar Seleccionados</button>
            </div>
        </div>
        <div class="alert alert-warning none" role="alert" #alertWarningSp>
            No hay Botones Agregados
        </div>
    </div>
</div>
<div class="container__in container none" #in>
    <h2 class="text-center mt-4">Favorite Buttons</h2>
    <div class="row">
        <div class="mb-5">
            <select name="buttons" id="buttons" class="form-control" #selectButtonsIn>
                <option value="???">Select a button</option>
                <option [value]="b.Name" *ngFor="let b of allButtons">{{ b.Label }}</option>
            </select>
        </div>
        <div class="mb-3">
            <button type="button" class="btn btn-danger w-100" #buttonAddIn>Add</button>
        </div>
    </div>
    <div class="row">
        <div class="alert alert-info none" role="alert" #alertInfoIn>
            <div class="mb-3">
                <h4>Buttons already added</h4>
            </div>
            <div class="mb-3">
                <ul class="list-group" style="text-align: left;">
                    <li class="list-group-item" *ngFor="let button of buttonsAvayaExists">
                        <input class="form-check-input me-1" type="checkbox" [id]="button.Name" [checked]="button.check">
                        <label class="form-check-label stretched-link" [for]="button.Name">{{ button.Label }}</label>
                    </li>
                </ul>
            </div>
            <div class="mb-3" style="text-align: left;">
                <button type="button" class="btn btn-danger">Remove Selected</button>
            </div>
        </div>
        <div class="alert alert-warning none" role="alert" #alertWarningIn>
            No Information
        </div>
    </div>
</div>
<div class="container__pt container none" #pt>
    <h2 class="text-center mt-4">Botões Favoritos</h2>
    <div class="row">
        <div class="mb-5">
            <select name="buttons" id="buttons" class="form-control" #selectButtonsPt>
                <option value="???">Seleccionar um botão</option>
                <option [value]="b.Name" *ngFor="let b of allButtons">{{ b.Label }}</option>
            </select>
        </div>
        <div class="mb-3">
            <button type="button" class="btn btn-danger w-100" #buttonAddPt>Adicionar</button>
        </div>
    </div>
    <div class="row">
        <div class="alert alert-info none" role="alert" #alertInfoPt>
            <div class="mb-3">
                <h4>Botões já adicionados</h4>
            </div>
            <div class="mb-3">
                <ul class="list-group" style="text-align: left;">
                    <li class="list-group-item" *ngFor="let button of buttonsAvayaExists">
                        <input class="form-check-input me-1" type="checkbox" [id]="button.Name" [checked]="button.check">
                        <label class="form-check-label stretched-link" [for]="button.Name">{{ button.Label }}</label>
                    </li>
                </ul>
            </div>
            <div class="mb-3" style="text-align: left;">
                <button type="button" class="btn btn-danger">Desmarcar</button>
            </div>
        </div>
        <div class="alert alert-warning none" role="alert" #alertWarningPt>
            Nenhuma informação
        </div>
    </div>
</div>