.banner {
    text-align: right;
}
.banner img {
    width: 15rem;
    margin-top: 5%;
    margin-right: 5%;
}
.banner__2 img {
    width: 15rem;
}
.alert {
    width: 90%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.spinner {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2000;
}
.spinner .spinner__content {
    position: absolute;
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 40%;
    text-align: center;
    color: white;
}
.spinner .spinner__content h2 {
    text-shadow: 1px 2px 3px black;
}
.spinner .spinner__content .spinner-border {
    width: 6rem;
    height: 6rem;
}
.none {
    display: none;
}
.columna_derecha {
    position: relative;
}
.columna_derecha .fila_2 {
    position: absolute; bottom: 0;
}
.alert-success {
    width: 100%;
}
.badge {
    margin: 0 5px;
    cursor: pointer;
}
.badge:hover {
    font-size: 0.8rem;
}
.border__error {
    border: 1px solid tomato;
}