<div class="contenedor">
    <div class="img_1">
        <img src="../../../assets/Henry-Schein.png" alt="Henry-Schein.png">
    </div>
    <div class="img_2">
        <img src="../../../assets/it_support.png" alt="it_support.png">
    </div>
    <div class="spinners">
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-success" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>