<!--
    TODO: Validar botón "Adelante" y procesar los problemas con node.
-->
<div class="container banner mb-4">
    <img src="assets/Henry-Schein.png" alt="Henry-Schein.png">
</div>
<div class="container banner__2 text-center">
    <img src="assets/avaya.png" alt="avaya.png">
</div>
<div class="container title text-center mb-5">
    <h3>Configuración de Avaya One X Agent</h3>
</div>
<div class="container content mb-2">
    <select class="form-select" name="problema" [(ngModel)]="problema">
        <option value="???" disabled selected>Seleccione un problema</option>
        <option value="" disabled>---Sonido---</option>
        <option value="1">Avaya no inicia sesión</option>
        <option value="2">Avaya no inicia sesión automáticamente</option>
        <option value="3">Prueba con TASKKILL</option>
        <option value="4">No se desvian las llamadas a otro usuario</option>
        <option value="5">No se me registran las llamadas entrantes</option>
        <option value="6">No se me registran las llamadas salientes</option>
        <option value="7">Avaya inicia sesión pero no se escucha el sonido de entrada</option>
    </select>
</div>
<div class="container button">
    <button type="button" (click)="solucionar()" class="btn btn-dark">Solucionar...</button>
</div>
