<ConfigData xmlns="http://xml.avaya.com/endpointAPI">
<version>1</version>
<parameter>
<name>OwnIPAddress</name>
<value>10.34.236.179</value>
</parameter>
<parameter>
<name>SipProxyServerList</name>
<value>10.44.96.150</value>
</parameter>
<parameter>
<name>AlternateServersList</name>
<value>10.44.96.150;</value>
</parameter>
<parameter>
<name>DialPlanCountryCode</name>
<value></value>
</parameter>
<parameter>
<name>DialPlanInternationalAccessCode</name>
<value></value>
</parameter>
<parameter>
<name>DialPlanLongDistanceAccessCode</name>
<value></value>
</parameter>
<parameter>
<name>DialPlanOutsideLineAccessCode</name>
<value></value>
</parameter>
<parameter>
<name>RtpPortLow</name>
<value>2048</value>
</parameter>
<parameter>
<name>RtpPortRange</name>
<value>63487</value>
</parameter>
<parameter>
<name>LocalLogLevel</name>
<value>0</value>
</parameter>
<parameter>
<name>LogCategoryList</name>
<value>SESSION,EXTAPP,CORE,HTTP,MSGMGR,NETMGR,1XADAP,MEDIA,AUDIO,SIGNAL,USER</value>
</parameter>
<parameter>
<name>PrevSipUserAccount</name>
<value>2028154</value>
</parameter>
<parameter>
<name>AlternateServerListTimeOut</name>
<value>30</value>
</parameter>
<parameter>
<name>AudioLogLevel</name>
<value>0</value>
</parameter>
<parameter>
<name>DialPlanNationalPhoneNumbLengthList</name>
<value></value>
</parameter>
<parameter>
<name>DialPlanExtensionLengthList</name>
<value></value>
</parameter>
<parameter>
<name>AlternateGKAddressList</name>
<value>10.44.96.150</value>
</parameter>
</ConfigData>